html {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--white-color);
    min-height: 100%;
}

:root {
    --w100: 100%;
    --h100: 100%;

    --section-background: radial-gradient(50% 50% at 50% 50%, #fff 0, #fafafa 100%);

    --white-color: #fff;
    --black-color: #000;

    --white-button-text-color: #f5f5f5;
    --grey-text-color: #666;
    --orange-color: #fb5607;

    --m0: 0;
    --p0: 0;

    --flex: flex;
    --flex-center: center;
    --flex-column: column;
    --flex-between: space-between;
    --flex-around: space-around;

    --border-none: none;
    --border-button-radius: 0.625rem;
    --border-section-to-left: linear-gradient(45deg, #ffffff, #abbaab) 10;
    --border-section-to-right: linear-gradient(45deg, #abbaab, #ffffff) 10;
    --border-box: border-box;
}

.main-layout-container {
    width: var(--w100);
    display: var(--flex);
    flex-direction: var(--flex-column);
}

.not-found-container {
    width: var(--w100);
    display: var(--flex);
    flex-direction: var(--flex-column);
    align-items: var(--flex-center);
}

.not-found-error {
    font-size: 3rem;
}

.not-found-text {
    font-size: 2.4rem;
}
